.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.bar-logo {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 0 5px;
}

body {
  background-image: url('/src/assets/bkg2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body::after {
  content: "";
  background: url('/src/assets/bkg2.jpg');
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 5vh;
}

#search-bar {
  /* width: 20%; */
  border: 1px solid black;
  border-radius: 15px;
  background: transparent;
  font-weight: 480;
  text-align: center;
  /* font-family: 'Times New Roman', Times, serif; */
  font-size: large;
  /* color: black; */

}

#search-btn {
  border: 1px solid black;
  border-radius: 15px;
  background: transparent;
  font-weight: 480;
  /* width: 7%; */
  height: 12%;
  margin: 0 2px;
  position: sticky;
}

#search-bar:hover {
  transition: .5s ease-in-out;
  background-color: #808080a1;
}

#search-btn:hover {
  transition: .5s ease-in-out;
  background-color: #8a2be261;
}

::placeholder {
  color: black;
}

#card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
}